.logo-zugzug{
	width: 190px;
    padding: 15px;
}
.logo-footer{
    width: 190px;
}
.topBar-ini{
	background-color:#86858a!important;
}
.list-inline >li>a>i{
	color:#fff;
}
.icono-productos{
    color:#868581!important;
}
.btn-buy{
	background-color:#b9ca46!important;
}
.iniciar-sesion{
	font-weight: bold!important;
	color: #fff!important;
    cursor: pointer;
}
.email-zugzug, .barra-zugzug{
	color: #fff;
	font-weight: bold;
}
.top-right .cart-dropdown ul.dropdown-menu li a .media .media-body h5, .cart-dropdown ul.dropdown-menu li a .media .media-body h5 {
    color: #000!important;
    line-height: 20px;
    letter-spacing: 1px;
}
.barra-producto{
	background: #fff!important;
    color: #000!important;
}

.navbar-default .navbar-collapse li a.nav-link:hover, .navbar-default .navbar-collapse li a.nav-link.focus, .navbar-default .navbar-collapse li a.nav-link:focus, .navbar-default .navbar-collapse li.dropdown .dropdown-menu li a:hover, .navbar-default .navbar-collapse li.active a, .navbar-default .navbar-collapse li.active a:focus, .navbar-default .navbar-collapse li.active a:hover, .navbar-default .navbar-collapse li.active.dropdown .dropdown-menu li a:hover, .navbar-default .navbar-collapse li.dropdown.show a:hover, .navbar-default .navbar-collapse li.dropdown.show a.focus, .navbar-default .navbar-collapse li.dropdown.show a:focus, .navbar-default .navbar-collapse li.dropdown .dropdown-menu li.active a, .navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover, .nav-category .dropdown-menu li a:hover, .nav-category .dropdown-menu li a:hover i, .nav-category .dropdown-menu li.active a, .navbar-transparent .navbar-nav .nav-item.active a.nav-link, .navbar-transparent.bb-fixed-header .navbar-nav .nav-item.active a.nav-link, .bannerV3 .slide .slider-title h3 span, .bannerV3 .slide .productCaption .offer-price, .bannerV3 .slick-prev:before, .bannerV3 .slick-next:before, .slider-captionV4 .tp-caption.rs-caption-2 small, .imageBox .productCaption .offer-price, .whiteSection .featuredProducts .slide .productCaption .offer-price, .mainContent .featuredProducts .slide .productCaption .offer-price, .productsContent .productBox .productCaption .offer-price, .whiteSection .latestArticles .thumbnail span a:hover, .mainContent .latestArticles .thumbnail span a:hover, .box i, .dealSlider .productDeal h3 span, .dealSlider .productCaption .btn-border, .dealSlider .productCaption .btn-border i, .dealSlider .imageBox:hover .productDeal .rating, .dealSlider .whiteSection .featuredProducts .slide:hover .productDeal .rating, .whiteSection .featuredProducts .dealSlider .slide:hover .productDeal .rating, .dealSlider .mainContent .featuredProducts .slide:hover .productDeal .rating, .mainContent .featuredProducts .dealSlider .slide:hover .productDeal .rating, .dealSlider .productsContent .productBox:hover .productDeal .rating, .productsContent .dealSlider .productBox:hover .productDeal .rating, .testimonial-inner .testimonialText .product-rating, .category-top .category-menu h2, .category-menu ul li:hover a, .home-v5 .icon-box, .home-v5 .testimonial-section .card small, .footer .newsletter .input-group .input-group-addon i, .copyRight.version2 p a:hover, .form-field .btn-link, .form-body .panel .panel-body .btn-link, .signUp .panel .panel-body .btn-link, .lostPassword .panel .panel-body .btn-link, .logIn .panel .panel-body .btn-link, .commentsForm .btn-link, #login .modal-dialog .modal-content .modal-body .btn-link, .logIn .panel .panel-body .btn-link:hover, #signup .modal-dialog .modal-content .modal-body .btn-link, .sub-list-item:hover, .navbar-side-collapse .side-nav li .collapseItem li a:hover, .sidebar-list li a:hover, .navbar-side-collapse .side-nav li a:hover, .filterNormal .list-unstyled li a:hover, .productListSingle .media:hover .media-heading, .productListSingle .media:hover h3, .cartListInner .table-responsive .table tbody tr td .close, .orderBox.myAddress .table-responsive .table tbody tr td .close, .notFound h1, .commentsArea .media .media-body .btn-link:hover, .userProfile .innerWrapper h3 span, .orderBox .table-responsive .table tbody tr td:first-child, .orderBox.myAddress.wishList .table-responsive .table tbody tr td:nth-child(4), .icon-left.card.card-accordion .card-header.header-inverse a, .card .card-title:hover, .quick-drop .sbOptions a:hover, .selectOptions .sbOptions a:hover, ul.nav .nav-item.active .nav-link, .icon_tabs .nav-item a.nav-link:hover .fa, .icon_tabs .nav-item a.nav-link.active .fa, .nav-tabs.bar-tabs .nav-link.active h5 {
    color: #b9ca46!important;
    /* font-weight: bold!important; */
}

.navbar-default .navbar-collapse li a.nav-link {
    font-size: 14px;
    color: #332e2d!important;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s ease-in-out;
    padding: 10px 15px;
}
.fullscreenbanner-container .tp-bullets.preview4 {
    position: relative;
    left: 0!important;
    bottom: 0!important;
    padding: 9px 50px;
    width: 150px;
    height: 30px;
    margin: -15px auto 0!important;
    display: none;
    background: #B9ca46!important;
    text-align: center;
}

.prueba{
	background: #47bac1!important;
}


.fullscreenbanner-container .tp-bullets.preview4::before, .fullscreenbanner-container .tp-bullets.preview4::after {
    background: #fff!important;
    display: none;
}

.tparrows.preview4:after {
    position: absolute;
    line-height: 110px;
    text-align: center;
    font-family: revicons;
    color: #fff;
    font-size: 20px;
    top: 0;
    left: 0;
    z-index: 0;
    width: 30px;
    height: 110px;
    background: rgba(185, 202, 70, 0.7)!important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.badge{
    background-color: #b9ca46!important;
}
.bannerV1 .tp-caption.rs-caption-2 {
    text-transform: capitalize;
    color: #fff!important;
    font-size: 14px!important;
    line-height: 20px!important;
}

.bannerV1 .tp-caption.rs-caption-2 {
    text-transform: capitalize;
    color: #fff!important;
    font-size: 14px!important;
    line-height: 20px!important;
}
.bannerV1 .tp-caption.rs-caption-2 {
    text-transform: capitalize;
    color: #fff!important;
    font-size: 14px!important;
    line-height: 20px!important;
}
.bannerV1 .tp-caption.rs-caption-3 small {
    text-transform: none;
    color: #fff!important;
    font-size: 10px!important;
    margin-top: 10px;
    display: block;
    max-width: 200px;
    line-height: 16px!important;
    font-weight: bold;
}
.bannerV1 .tp-caption.rs-caption-2 {
    text-transform: capitalize;
    color: #fff!important;
    font-size: 14px!important;
    line-height: 20px!important;
}
.primary-btn{
	background: #b9ca46!important;
	border-color: #b9ca46!important;
}
.tp-caption.rs-caption-4 .btn, .bannerV2 .btn, .bannerV3 .btn{
	border-color: #b9ca46!important;
}

.tp-caption.rs-caption-4 .btn, .bannerV2 .btn, .bannerV3 .btn {
    border-color: #b9ca46!important;
}

.texto-about-us{
    text-align: center;
    padding-bottom: 30px;
}
.centrar-div{
    margin: 0 auto;
    display: flex;
}
.btn-about{
    margin-top: 35px!important;
    margin-bottom: 35px!important;
}

.g-bg-img-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.g-bg-cover {
    position: relative;
}
.w-100 {
    width: 100% !important;
}


.g-pt-100 {
    padding-top: 7.14286rem !important;
}

.g-pb-70 {
    padding-bottom: 5rem !important;
}

.texto_parallax {
    margin: 0 auto;
    color: #fff!important;
}

.g-bg-cover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.g-bg-black-opacity-0_6--after::after {
    /*background-color: rgba(0, 0, 0, 0.6) !important;
    background-color: rgba(134, 133, 138, 0.5)!important;
    background-color: rgba(51, 46, 45, 0.5)!important;
    background-color: rgba(185, 202, 70, 0.6);
    background-color: rgba(134, 133, 138, 0.5)!important;*/
    background-color: rgba(51, 46, 45, 0.5)!important;
}

.g-bg-cover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .btn-primary:active {
    background-color: #868581!important;
    border: 1px solid #868581!important;
}

.btn-primary {
    background-color: #b9ca46!important;
    border: 1px solid #b9ca46!important;
}

.img-producto{

    /*width:350px!important;
    height: :350px!important;*/
    width:350px!important;
    height: :350px!important;
}

.color-producto{
    color:#fff!important;
    font-weight: bold!important;
    text-shadow: 2px 2px #000!important;
}

.img-flag {
    width: 50px;
    /*margin-top: 25px;*/
    cursor: pointer;
    height: 25px;
}

#idioma{
    padding-top: 29px;
}

.cuerpo_redes{
    padding-bottom: 45px;
    padding-top: 40px;
}

.iconos_redes{
    text-align: center;
}
.iconos_pasos, .iconos_pasos_us{
    font-size: 25pt;
    cursor: pointer;
    text-align: center;
    float: left;
    margin: 0 auto;
    display: flex;
   
    /*padding: 3px 5px 5px 0px;*/
}

.iconos_pasos_us .fa{
    background-color: #b9ca46;
    border-radius: 50%;
}
.tamano_twitter{
    float: left;
    padding: 5px 3px 0px;
    background-color: #ffffff;
   /* border: 1px solid #e8e8e8;*/
    border-top: 0px;
    -webkit-transition: 800ms;
    -moz-transition: 800ms;
    -o-transition: 800ms;
    transition: 800ms;
    margin: 0 auto;
    display: flex;
}

.tamano_centro{
    padding: 5px 3px 0px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-top: 0px;
}

.facebook_plugins{
  width:340px;
  height: 500px;
}

.facebook{
  max-height:380px;
  overflow:hidden
}

.div_facebook{
  float:left;
  border: 1px solid #e8e8e8;
  margin: 0 auto;
  display: flex;
}

#row_redes{
  margin: 0 auto;
  display: flex;
}

.div_twitter{
  /*float:right;*/
  max-height:500px;
  overflow-x:hidden;
  width:100%;
  margin: 0 auto;
}

.contenedor_icono_pasos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.spacial-features .feature p {
    /*color: #7080a2;*/
    font-family: "Roboto-Light";
    color: #555;
    font-weight: 300;
    line-height: 25px;
    font-size: 14pt;
    margin-top: 45px;
    margin-bottom: 45px;
    width: 100%;
    text-align: center;
    /*text-align: justify;*/
}

.icono-zoug{
    color:#86858a;
}

.icono-zoug:hover{
    color:#b9ca46;
}
.loaded2{
    overflow: auto;
}
.whiteSection .latestArticles .thumbnail p, .mainContent .latestArticles .thumbnail p {
    margin-bottom: 0;
    color: #797979!important;
    line-height: 22px;
}
/*---owl crousel---*/
#hero h1 {
    font-size: 78px;
    line-height: 110%;
    font-weight: 900;
    letter-spacing: .05em;
    text-transform: uppercase;
    margin-bottom: 0;
    -webkit-transition: font 200ms ease-out;
    -moz-transition: font 200ms ease-out;
    -o-transition: font 200ms ease-out;
    transition: font 200ms ease-out
}

#hero #owl-main .caption h1.light-bg,
#hero #owl-main .caption h1.medium-bg,
#hero #owl-main .caption h1.dark-bg,
#hero #owl-main .caption h1.tint-bg {
    font-size: 73px
}

#hero h4 {
    font-size: 25px;
    line-height: 120%
}
#hero h3{
    font-size: 50px;
    line-height: 120%;
    color: #fff!important;
    font-weight: bold;
}
#hero p {
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;
    letter-spacing: .015em;
    text-transform: none;
    margin-top: 20px;
    margin-bottom: 0;
    -webkit-transition: font 200ms ease-out, margin 200ms ease-out;
    -moz-transition: font 200ms ease-out, margin 200ms ease-out;
    -o-transition: font 200ms ease-out, margin 200ms ease-out;
    transition: font 200ms ease-out, margin 200ms ease-out
}

#hero .btn {
    margin-top: 60px;
    margin-bottom: 0;
    -webkit-transition: background 200ms ease-out, font 200ms ease-out, padding 200ms ease-out, margin 200ms ease-out;
    -moz-transition: background 200ms ease-out, font 200ms ease-out, padding 200ms ease-out, margin 200ms ease-out;
    -o-transition: background 200ms ease-out, font 200ms ease-out, padding 200ms ease-out, margin 200ms ease-out;
    transition: background 200ms ease-out, font 200ms ease-out, padding 200ms ease-out, margin 200ms ease-out
}

#hero .btn-large {
    font-size: 18px;
    padding: 18px 70px 20px
}

h2+.owl-carousel,
p+.owl-carousel,
h2+.panel-group,
p+.panel-group {
    padding-top: 20px
}

.owl-carousel {
    text-align: center;
    cursor: default;
}

.isotope, .owl-carousel .owl-wrapper-outer {
    z-index: 0;
}

#owl-main .item {
    height: 44vh;
    background-color: #FFF;
    background-position: center 55%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#owl-main:hover .owl-pagination {
    bottom: -25px;
    opacity: 1;
}

.owl-carousel .item figure {
    display: block;
    position: relative
}

.items li {
    overflow: hidden
}

.items li .text-overlay,
.thumbs .thumb .text-overlay,
.owl-carousel .item .text-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 10%;
    font: 0/0 a;
    background-color: rgba(26, 187, 156, 0.9);
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    opacity: 0
}

.items li .text-overlay:before,
.thumbs .thumb .text-overlay:before,
.owl-carousel .item .text-overlay:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%
}

.items li:hover .text-overlay,
.thumbs .thumb:hover .text-overlay,
.owl-carousel .item:hover .text-overlay {
    opacity: 1
}

.items li .text-overlay .info,
.thumbs .thumb .text-overlay .info,
.owl-carousel .item .text-overlay .info {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-align: center
}

.items li .text-overlay .info h2,
.thumbs .thumb .text-overlay .info h2,
.owl-carousel .item .text-overlay .info h2,
.items li .text-overlay .info h3,
.thumbs .thumb .text-overlay .info h3,
.owl-carousel .item .text-overlay .info h3,
.items li .text-overlay .info h4,
.thumbs .thumb .text-overlay .info h4,
.owl-carousel .item .text-overlay .info h4 {
    color: #FFF;
    margin-bottom: 2px
}

.items li .text-overlay .info p,
.thumbs .thumb .text-overlay .info p,
.owl-carousel .item .text-overlay .info p {
    font-size: 14px;
    line-height: 22px;
    color: #FFF;
    margin-bottom: 0
}

.items li .text-overlay .info.big p,
.thumbs .thumb .text-overlay .info.big p,
.owl-carousel .item .text-overlay .info.big p,
#hero .items li .text-overlay .info.big p,
#hero .thumbs .thumb .text-overlay .info.big p,
#hero .owl-carousel .item .text-overlay .info.big p {
    font-size: 18px;
    line-height: 140%;
    padding-top: 10px;
    margin-top: 0
}

#owl-clients .item .text-overlay,
#clients .thumb .text-overlay {
    background: 0
}

#owl-clients .item img,
#clients .thumb img {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out
}

#owl-clients .item:hover img,
#clients .thumb:hover img {
    opacity: .1
}

#owl-clients .item .text-overlay .info h4,
#owl-clients .item .text-overlay .info p,
#clients .thumb .text-overlay .info h4,
#clients .thumb .text-overlay .info p {
    color: inherit
}
.owl-carousel {
    text-align: center;
    cursor: default
}

.owl-controls {
    display: inline-block;
    position: relative;
    margin-top: 40px
}

.panel-group .panel .owl-controls {
    margin-top: 25px
}

.panel-group.blank .panel .owl-controls {
    margin-top: 40px
}

.owl-pagination {
    position: relative;
    line-height: 30px
}

.owl-buttons {
    display: block;
}

.owl-prev,
.owl-next {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #FFF;
    /*background-color: #506a85;*/
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: auto;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    opacity: 1;
    background: #b9ca46!important;
    color: #fff;
    font-size: 20pt;
}

.owl-prev {
    left: -35px
}

.owl-next {
    right: -35px
}

.owl-carousel:hover .owl-prev {
    left: -40px;
    opacity: .25
}

.owl-carousel:hover .owl-next {
    right: -40px;
    opacity: .25
}

.owl-carousel:hover .owl-prev:hover,
.owl-carousel:hover .owl-next:hover {
    /*color: #1abb9c;*/
    color:#fff;
    opacity: 1
}

.owl-outer-nav:after {
    content: "";
    position: absolute;
    top: 0;
    left: -15%;
    width: 130%;
    height: 100%;
    z-index: 0
}

.owl-outer-nav .owl-wrapper-outer,
.owl-outer-nav .owl-pagination,
.owl-outer-nav .owl-prev,
.owl-outer-nav .owl-next {
    z-index: 1
}

.owl-outer-nav .owl-controls {
    position: static
}

.owl-outer-nav .owl-prev {
    left: -65px
}

.owl-outer-nav .owl-next {
    right: -65px
}

.owl-outer-nav:hover .owl-prev {
    left: -80px
}

.owl-outer-nav:hover .owl-next {
    right: -80px
}

.owl-ui-md .owl-pagination {
    line-height: 45px
}

.owl-ui-md .owl-prev,
.owl-ui-md .owl-next {
    width: 45px;
    height: 45px;
    font-size: 45px
}

.owl-ui-md .owl-prev {
    left: -55px
}

.owl-ui-md .owl-next {
    right: -55px
}

.owl-ui-md:hover .owl-prev {
    left: -60px
}

.owl-ui-md:hover .owl-next {
    right: -60px
}

.owl-outer-nav.owl-ui-md:after {
    left: -18%;
    width: 136%
}

.owl-outer-nav.owl-ui-md .owl-prev {
    left: -85px
}

.owl-outer-nav.owl-ui-md .owl-next {
    right: -85px
}

.owl-outer-nav.owl-ui-md:hover .owl-prev {
    left: -100px
}

.owl-outer-nav.owl-ui-md:hover .owl-next {
    right: -100px
}

.owl-ui-lg .owl-pagination {
    line-height: 60px
}

.owl-ui-lg .owl-prev,
.owl-ui-lg .owl-next {
    width: 60px;
    height: 60px;
    font-size: 60px
}

.owl-ui-lg .owl-prev {
    left: -75px
}

.owl-ui-lg .owl-next {
    right: -75px
}

.owl-ui-lg:hover .owl-prev {
    left: -80px
}

.owl-ui-lg:hover .owl-next {
    right: -80px
}

.owl-outer-nav.owl-ui-lg:after {
    left: -22%;
    width: 144%
}

.owl-outer-nav.owl-ui-lg .owl-prev {
    left: -105px
}

.owl-outer-nav.owl-ui-lg .owl-next {
    right: -105px
}

.owl-outer-nav.owl-ui-lg:hover .owl-prev {
    left: -120px
}

.owl-outer-nav.owl-ui-lg:hover .owl-next {
    right: -120px
}

.owl-inner-nav .owl-controls {
    position: static
}

.owl-inner-nav .owl-prev {
    left: 45px
}

.owl-inner-nav .owl-next {
    right: 45px
}

.owl-inner-nav:hover .owl-prev {
    left: 30px
}

.owl-inner-nav:hover .owl-next {
    right: 30px
}

.owl-outer-nav .owl-prev,
.owl-outer-nav .owl-next,
.owl-inner-nav .owl-prev,
.owl-inner-nav .owl-next {
    bottom: 70px
}

.owl-outer-nav.owl-ui-md .owl-prev,
.owl-outer-nav.owl-ui-md .owl-next,
.owl-inner-nav.owl-ui-md .owl-prev,
.owl-inner-nav.owl-ui-md .owl-next {
    bottom: 85px
}

.owl-outer-nav.owl-ui-lg .owl-prev,
.owl-outer-nav.owl-ui-lg .owl-next,
.owl-inner-nav.owl-ui-lg .owl-prev,
.owl-inner-nav.owl-ui-lg .owl-next {
    bottom: 100px
}

.owl-inner-pagination .owl-pagination,
.owl-inner-pagination .owl-prev,
.owl-inner-pagination .owl-next {
    margin-top: -40px;
    top: -60px
}

.owl-inner-pagination.owl-ui-md .owl-pagination,
.owl-inner-pagination.owl-ui-md .owl-prev,
.owl-inner-pagination.owl-ui-md .owl-next {
    margin-top: -50px;
    top: -65px
}

.owl-inner-pagination.owl-ui-lg .owl-pagination,
.owl-inner-pagination.owl-ui-lg .owl-prev,
.owl-inner-pagination.owl-ui-lg .owl-next {
    margin-top: -60px;
    top: -75px
}

.owl-inner-pagination.owl-outer-nav .owl-prev,
.owl-inner-pagination.owl-outer-nav .owl-next,
.owl-inner-pagination.owl-inner-nav .owl-prev,
.owl-inner-pagination.owl-inner-nav .owl-next {
    margin: auto;
    top: 0;
    bottom: 43px
}

.owl-inner-pagination .owl-pagination {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    opacity: 0
}

.owl-inner-pagination:hover .owl-pagination {
    opacity: 1
}

.owl-inner-pagination.owl-inner-nav .owl-pagination,
.owl-inner-pagination.owl-outer-nav .owl-pagination {
    top: -45px
}

.owl-inner-pagination.owl-inner-nav.owl-ui-md .owl-pagination,
.owl-inner-pagination.owl-outer-nav.owl-ui-md .owl-pagination {
    top: -50px
}

.owl-inner-pagination.owl-inner-nav.owl-ui-lg .owl-pagination,
.owl-inner-pagination.owl-outer-nav.owl-ui-lg .owl-pagination {
    top: -60px
}

.owl-inner-pagination.owl-inner-nav:hover .owl-pagination,
.owl-inner-pagination.owl-outer-nav:hover .owl-pagination {
    top: -60px
}

.owl-inner-pagination.owl-inner-nav.owl-ui-md:hover .owl-pagination,
.owl-inner-pagination.owl-outer-nav.owl-ui-md:hover .owl-pagination {
    top: -65px
}

.owl-inner-pagination.owl-inner-nav.owl-ui-lg:hover .owl-pagination,
.owl-inner-pagination.owl-outer-nav.owl-ui-lg:hover .owl-pagination {
    top: -75px
}

#owl-main .item {
    height: 44vh;
    background-color: #FFF;
    background-position: center 55%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

#owl-main.height-md .item {
    height: 61vh
}

#owl-main.height-lg .item {
    height: 80vh
}

#owl-main .container {
    display: table;
    height: inherit
}

#owl-main .caption {
    display: table-cell
}

#owl-main .caption.vertical-center {
    vertical-align: middle;
    padding-bottom: 3vh
}

#owl-main .caption.vertical-top {
    vertical-align: top;
    padding-top: 8vh
}

#owl-main .caption.vertical-bottom {
    vertical-align: bottom;
    padding-bottom: 14vh
}

#owl-main .caption.text-center {
    padding-left: 10%;
    padding-right: 10%
}

#owl-main .caption.text-left {
    padding-right: 20%
}

#owl-main .caption.text-right {
    padding-left: 20%
}

#owl-main .caption h1,
#owl-main .caption p,
#owl-main .caption div {
    /*position: relative*/
}

#owl-main .caption h1 span {
    padding: .250em 0;
    line-height: 180%
}

#owl-main .caption .light-bg,
#owl-main .caption .medium-bg,
#owl-main .caption .dark-bg,
#owl-main .caption .tint-bg {
    background: 0;
    padding-left: .500em;
    padding-right: .500em
}

#owl-main .caption h1.light-bg span,
#owl-main .caption p.light-bg span {
    background: #FFF;
    box-shadow: -.500em 0 0 #FFF, .500em 0 0 #FFF;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

#owl-main .caption h1.medium-bg span,
#owl-main .caption p.medium-bg span {
    background: #a3b1bf;
    box-shadow: -.500em 0 0 #a3b1bf, .500em 0 0 #a3b1bf;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

#owl-main .caption h1.dark-bg span,
#owl-main .caption p.dark-bg span {
    background: #506a85;
    box-shadow: -.500em 0 0 #506a85, .500em 0 0 #506a85;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

#owl-main .caption h1.tint-bg span,
#owl-main .caption p.tint-bg span {
    background: #1abb9c;
    box-shadow: -.500em 0 0 #1abb9c, .500em 0 0 #1abb9c;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

#owl-main .owl-controls {
    display: block;
    position: static;
    margin-top: -47px
}

#owl-main .owl-pagination {
    /*background: #FFF;*/
    /*background : #d6dce2;*/
    background :#b9ca46!important;
    line-height: inherit;
    position: relative;
    bottom: -40px;
    padding: 10px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out
}

#owl-main:hover .owl-pagination {
    bottom: -25px;
    opacity: 1
}

#owl-main .owl-prev,
#owl-main .owl-next {
    bottom: 0
}

.owl-controls .owl-page {
    display: inline-block
}

.owl-pagination .owl-page span {
    display: block;
    width: 15px;
    height: 15px;
   /* background: #506a85;*/
    background:#86858a!important;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 5px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out
}

.owl-pagination .owl-page.active span,
.owl-pagination .owl-page:hover span {
    /*background: #1abb9c*/
    background: #fff!important;
}

.owl-item-gap .item {
    margin: 0 15px
}

.owl-item-gap-sm .item {
    margin: 0 10px
}

.owl-item.loading {
    min-height: inherit;
    background: 0
}
.derecha{
    float: right!important;
}
.izquierda{
    float: left!important;
}
.mtop-10{
    margin-top: 2%!important;
}
.texto_slider{
    padding-top: 30px;
    padding-bottom: 50px!important;
    text-shadow: 2px 2px #000;
    background: #252525;
    opacity: 0.7;
}
.titulo_slider h3{
    color: #fff!important;
    text-shadow: 2px 2px #000;
}
.subtitulo-slider h3,.subtitulo-slider h4 {
    text-align: left!important;
    color: #fff!important;
    text-shadow: 2px 2px #000;
}
.parrafos{
    font-size: 16px!important;
    font-weight: 400!important;
    color: #797979!important;
    line-height: 2.1!important;
    text-align: justify!important;
}

.parrafos ul {
  width: 300px;
  list-style: none;
  padding:0;
}

.parrafos ul li {
    padding-left: 30px;
}

.parrafos ul li:before {
  content: "\2022";
  color:#b9ca46;
  padding-right: 30px;
  padding-left: 30px;
  display:inline-block;
  position:absolute;
  left:0;
}

.mgtop-25{
    margin-top: 25px!important;
}

.titulo_otras_noticias{
    width: 300px!important;
    margin: 35px 0px 35px 0px!important;
}

.btn-news{
    color:#000!important;
}

.panel-body{
    padding-top: 20px;
}

.media{
    width:100%;
    padding-bottom: 10px;
}
.sub-notice{
    width:100%;
}
.media-left, .media>.pull-left {
    float: left;
    padding-right: 10px;
    width: 50%;
}
.info-news{
    font-size: 18pt!important;
    color: #b9ca46!important;
    padding-right: 10px!important;
}

.panel-productos{

    background-color: #b9ca46!important;

}

.filterArea .btn btn-default active{

}
.activo_productos {
    background-color: #ccc;
    padding: 5px;
    /* border-radius: 10% 10% 10% 10%; */
    color: #fff;
    cursor: pointer;
}
.activo_productos:hover {
    color: #000!important;
    cursor: pointer;
    background-color: #fff;
}
.cuadro-nosotros{
    margin-top: 35px;
}
.parrafo-mision{
    text-align: justify;
}
.titulo-mision{
    text-align: center;
}
.cuerpo-mision-vision{
    margin-top: 40px;
}
.cuerpo-detalle-producto{
    padding: 30px!important;
}
.img-barra-slider{
    border-radius: 10%!important;
    /* width: 20%; */
    height: 100px!important;
    margin-right: 2px!important;
    cursor:pointer;
}

.img-barra-slider:hover{
   /* height: 150px!important;*/
    border: solid #eee 1px;

}
#div_imagen0{
    display: block;
}
.img-slider-ppal{
    padding:0px;
    margin:0px;
    display:none;
    cursor:pointer;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}
.title_carrousel {
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-family: oxygen, sans-serif;
    font-weight: 700;
    font-size: 45pt;
    color:#fff;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 30%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
} 

.g-bg-cover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.g-bg-black-opacity-0_3--after::after, .g-bg-black-opacity-0_3--before::before {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.g-bg-black-opacity-0_6--after::after {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.g-bg-img-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.lightwidget__caption{
    display: none;
}

.close-eliminar{
    cursor: pointer;
}

.simbolo_dolar{
    float:left!important;
}

.simbolo_dolar2{
    float:left!important;
    padding-top: 5px;
}

#subtotalMonto{
    float: left!important;
}

.tituloTotales{
    padding-right: 10px;
}

#subtotalMonto,#totalMonto{
    padding-top: 5px;
    float: left!important;
}

.metodo-pago{
    padding-top:10px;
    padding-bottom: 10px; 
}

.summery-box {
    border: 3px solid #f0f0f0;
    padding: 40px 25px;
    margin-bottom: 50px;
}

.summery-box p {
    font-size: 13px;
    padding-bottom: 5px;
    color: #797979;
}

.summery-box li {
    font-size: 15px;
    padding-bottom: 20px;
    color: #797979;
}

.summery-box h4 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 400;
    letter-spacing: 0;
    color: #252525;
}

.total-summary{
    border-top: 3px solid #f0f0f0;
    color: #252525;
    padding: 20px 0 0;
}

.orderInfo {
    font-size: 15px;
    line-height: 30px;
    color: #797979;
    margin: 42px 0 50px;
}

.titulo_order{
    font-weight: bold;
    font-size: 12pt;
}

.orden_total{
    text-align: right;
    padding: 14px;
}
.profile-image {
    height: 65px;
    width: 65px;
    top: 5px;
    left: 5px;
    position: relative;
    border: solid 1px #eee;
    /* background-color: #777777; */
}

.img-circle {
    border-radius: 50%;
}
.iconos-is{
    margin-right: 10px!important;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
} 

.img-slider{
    height: 80vh;
}

.table-productos thead tr th{
    background-color: #b9ca46!important
}

.cartListInner .table-responsive .table thead tr, .orderBox .table-responsive .table thead tr {
    border-left: 3px solid #b9ca46!important;
    border-right: 3px solid #b9ca46!important;
}

.img-carrito{
    width: 100px!important;
    height: 100px!important;
}
/*.parrafos ul li{
    list-style-type: square;
    padding: 10px;
}*/
/*-- MediaQuerys --*/
@media(max-width:1024px) {
    #hero .info,
    #hero .info,
    #hero .info,
    .items li .text-overlay .info.big,
    .thumbs .thumb .text-overlay .info.big,
    .owl-carousel .item .text-overlay .info.big {
        margin-top: -35px
    }
    #owl-main .caption.text-center,
    #owl-main .caption.text-left,
    #owl-main .caption.text-right {
        padding-left: 0;
        padding-right: 0
    }
}
/*-- --*/
