<div class="thumbnail">
	<a href="blog-single-right-sidebar.html">
	  <img src="{{base_url}}{{notice.ruta}}" alt="article-image" style="height: 233px;">
	</a>
	<div class="date-holder">
	  <p>{{notice.dias}}</p>
	  <span>{{notice.mes}}</span>
	</div>
	<h5>
		<a href="{{base_url}}{{url.menu4}}/{{notice.slug}}">{{notice.titulo}}</a>
	</h5>
	<span class="meta"> by 
		<a class="pr-1">{{notice.usuario}}</a> 
	</span>
	<div class="caption">
	  	<p ng-bind-html="notice.descripcion_sin_html"></p>
	</div>
</div>
